.login-btn a{
    text-decoration: none;
  background-color: #1050a2;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.6s;
  padding: 5px 31px;
  margin-left: 2px;
}