.forgot-password-container{
    display: flex;
    margin: 30px;
    align-items:center;
    flex-direction: column;
    width: 31vw; 
    border-radius: 5px;
    background-color: #f5f5f5;
    font-family: "Libre Baskerville", serif; 
    text-align: center;
    padding-bottom: 10px;
}
.header-reset{
    text-align: center;
}
.show{
    margin: 10px;
}
 .forgot-password-form{
     height: 100%;
    width: 100%;
    padding-top: 2rem;
 }
.content-container{
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-image: url("/images/Hanol-2.jpg.crdownload.jpg");
   background-repeat: no-repeat, repeat; */
    background-size: 100%;
} 


.user-email{
    height: 35px;
     width: 90%;
     margin: 14px;
     padding-left: 10px;
     border-radius: 5px;
     border: none;
    color: black;
    outline: none;
    font-size: 14px;
}
select{
    color: gray;
    

}
#select-role{
    height: 36.5px;
    width: 90%;
    margin: 12.5px 0px 0px 0px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    outline-color: black;
    color: grey;
    outline: black;
    font-size: 14px;
}
/* #select-role option{
    width: 60%;
} */
.afterSelecting{
    color:black;
  }
#eye{
    color: gray;
    position: absolute;
    top: 33%;
    right: 36%;
    cursor:pointer;
    font-size: 15px;
}
.password-button{
    height: 36.5px;
     width: 91%;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
    outline: none;
    background-color: #23427f;
    color: white;
    font-size: 16px;
    border: none;;
}

#message{
    color: red;
    font-size: 10px;
}
@media only screen and (max-width: 820px) {
    .forgot-password-container{
        width: 45vw;
    }
}
@media only screen and (max-width: 540px) {
    .forgot-password-container{
        width: 65vw;
    }
}
@media only screen and (max-width: 420px) {
    .forgot-password-container{
    width: 85vw;
    }
}

